@model AddViewModel

@{
    ViewData["Title"] = "Dodaj aukcję";
    ViewData["bodyClass"] = "add-new-auction";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Dodaj aukcje</h1>
                <p><a asp-action="Add" asp-route-fetch="true" class="btn btn-success btn-lg">Pobierz aukcje</a></p>
            </div>
        </div>
    </div>
    
    @if (Model.Auctions != null)
    {
        <form asp-controller="Auction" asp-action="Add" method="POST" class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td>Tytuł</td>
                            <td>Od</td>
                            <td>Do</td>
                            <td>Cena</td>
                            <td>Dodaj</td>
                        </tr>
                        </thead>
                        <tbody>
                        @for (int i = 0; i < Model.Auctions.Count; i++)
                        {
                            var auction = Model.Auctions[i];
                            <tr>
                                <td>@auction.Id</td>
                                <td>@auction.Name</td>
                                <td>@auction.StartDate</td>
                                <td>@auction.EndDate</td>
                                <td>@Html.DisplayFor(x => auction.Price)</td>
                                <td>
                                    <input asp-for="@Model.Auctions[i].ShouldBeSaved"/>
                                </td>

                                @Html.HiddenFor(_ => Model.Auctions[i].Id)
                                @Html.HiddenFor(_ => Model.Auctions[i].EndDate)
                                @Html.HiddenFor(_ => Model.Auctions[i].StartDate)
                                @Html.HiddenFor(_ => Model.Auctions[i].Name)
                                @Html.HiddenFor(_ => Model.Auctions[i].Price)
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                </div>
            </div>
        </form>
    }
</div>
