@{
    ViewData["Title"] = Model.Title;
    ViewData["bodyClass"] = "auctions-list auction";
}
@model AuctionViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                @if (Model.Message != null)
                {
                    <p class="text-success">@Html.DisplayFor(t => t.Message)</p>
                }
                <h1>@Model.Title</h1>
                <div class="row">
                    <div class="col-md-8">
                        <p><strong>Prowizja od sprzedaży:</strong> @Html.DisplayFor(x => x.Fee)</p>
                        <p><strong>Prowizja od wystawienia aukcji:</strong> @Html.DisplayFor(x => x.OpenCost)</p>
                        <p><strong>Zarobek netto:</strong> @Html.DisplayFor(x => x.Profit)</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Cena za sztukę:</strong> @Html.DisplayFor(x => x.PricePerItem)</p>
                        <p>
                            <strong>Koniec:</strong> @Model.EndDate
                            @if (Model.HasEnded)
                            {
                                <b style="font-size:15px">(zakończona)</b>
                            }
                        </p>
                        @if (Model.IsVirtualItem)
                        {
                            <p><strong>Liczba wolnych kodów:</strong> @Model.FreeCodesCount</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                         <div class="btn-toolbar" role="toolbar">  
                            <div class="btn-group" role="group" aria-label="...">
                                <a asp-action="Auction" asp-route-id="@Model.Id" asp-route-refreshFees="true" class="btn btn-primary btn-lg">Synchronizuj opłaty</a>
                            </div>
                            @if (Model.IsVirtualItem)
                            {
                                <div class="btn-group" role="group" >
                                    <a asp-action="Codes" asp-route-id="@Model.Id" class="btn btn-primary btn-lg">Zarządzaj kodami</a>
                                </div>
                            }
                             <div class="btn-group" role="group" aria-label="...">
                                 <a asp-action="Auction" asp-route-id="@Model.Id" asp-route-refreshAd="true" class="btn btn-primary btn-lg">Odśwież dane</a>
                             </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul id="panel-nav" class="nav nav-justified nav-tabs" role="tablist">
                <li role="presentation"  class="@(!Model.SettingsTabActive ? "active" : string.Empty)"><a href="#buyers" aria-controls="buyers" role="tab" data-toggle="tab">Zamówienia</a></li>
                <li role="presentation" class="@(Model.SettingsTabActive ? "active" : string.Empty)"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Ustawienia</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="@($"tab-pane {(!Model.SettingsTabActive ? "active" : string.Empty)}")" id="buyers">
                    <table class="table table-hover ">
                        <thead>
                        <tr>
                            <th>Login</th>
                            <th>E-mail</th>
                            <th>Data zakupu</th>
                            <th>Sztuk</th>
                            <th>Suma</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (OrderViewModel order in Model.Orders)
                        {
                            <tr class="@(order.OrderStatus == OrderStatus.Canceled ? "order-cancelled" : order.OrderStatus != OrderStatus.Done ? "order-inprogress" : string.Empty)">
                                <td><a asp-action="Order" asp-route-id="@order.Id">@order.Buyer.UserLogin</a></td>
                                <td>@order.Buyer.Email</td>
                                <td>@order.OrderDate</td>
                                <td>@order.Quantity</td>
                                <td>@Html.DisplayFor(x => order.TotalPayment)</td>
                                <td>@Html.DisplayFor(t => order.OrderStatus)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="pagination-wrapper">
                        <ul class="pagination">
                            <li><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="1">&laquo;&laquo;</a></li>
                            <li class=@(Model.PaginationSettings.IsFirstPage ? "disabled" : string.Empty)><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="@(Model.PaginationSettings.CurrentPage - 1)">&laquo;</a></li>
                            @for (int i = Model.PaginationSettings.StartPage; i <= Model.PaginationSettings.EndPage; ++i)
                            {
                                <li class=@(Model.PaginationSettings.CurrentPage == i ? "active" : string.Empty)><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="@i">@i</a></li>
                            }

                            <li class=@(Model.PaginationSettings.IsLastPage ? "disabled" : string.Empty)><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="@(Model.PaginationSettings.CurrentPage + 1)">&raquo;</a></li>
                            <li><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="@Model.PaginationSettings.PagesCount">&raquo;&raquo;</a></li>
                        </ul>
                    </div>
                </div>

                <div role="tabpanel" class="@($"tab-pane {(Model.SettingsTabActive ? "active" : string.Empty)}")" id="settings">
                    <form asp-action="Auction" class="form-horizontal">
                        @Html.HiddenFor(t => t.Id)

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="@Model.AutomaticFeedbackEnabled"> Automatycznie wystawiaj komentarze
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="@Model.AutomaticRefundsEnabled"> Automatycznie twórz zwroty prowizji dla nieopłaconych zamówień
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="@Model.IsMonitored"> Monitoruj aukcję
                                    </label>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input id="non_material_checkbox" asp-for="@Model.IsVirtualItem">Przedmiot niematerialny
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div id="non-material-wrapper" class="@(Model.IsVirtualItem ? string.Empty : "hidden")">
                            <p><a asp-action="AddCodes" asp-route-id="@Model.Id" class="btn btn-primary btn-lg">Dodaj nowe kody</a></p>
                        </div>

                        <hr>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
