@{
    ViewData["Title"] = "Aukcja {{id}}";
    ViewData["bodyClass"] = "auctions-list auction";
}
@model AuctionViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>@Model.Title</h1>
                <div class="row">
                    <div class="col-md-8">
                        <p><strong>Prowizja od sprzedaży:</strong> @Model.Fee zł</p>
                        <p><strong>Prowizja od wystawienia aukcji:</strong> @Model.OpenCost zł</p>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Cena za sztukę:</strong> @Model.PricePerItem zł</p>
                        <p><strong>Koniec:</strong> @Model.EndDate</p>
                    </div>
                </div>
                <p><a class="btn btn-primary btn-lg">Synchronizuj opłaty</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul id="panel-nav" class="nav nav-justified nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#buyers" aria-controls="buyers" role="tab" data-toggle="tab">Zamówienia</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Ustawienia</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="buyers">
                    <table class="table table-hover ">
                        <thead>
                        <tr>
                            <th>Login</th>
                            <th>E-mail</th>
                            <th>Data zakupu</th>
                            <th>Sztuk</th>
                            <th>Suma</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (OrderViewModel order in Model.Orders)
                        {
                            <tr>
                                <td><a asp-action="Order" asp-route-id="@order.Id">@order.Buyer.UserLogin</a></td>
                                <td>@order.Buyer.UserLogin</td>
                                <td>@order.OrderDate</td>
                                <td>@order.Quantity</td>
                                <td>@order.TotalPayment</td>
                                <td>@order.OrderStatus</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="pagination-wrapper">
                        <ul class="pagination">
                            <li><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="1">&laquo;&laquo;</a></li>
                            <li class=@(Model.PaginationSettings.IsFirstPage ? "disabled" : string.Empty)><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="@(Model.PaginationSettings.CurrentPage - 1)">&laquo;</a></li>
                            @for (int i = Model.PaginationSettings.StartPage; i <= Model.PaginationSettings.EndPage; ++i)
                            {
                                <li class=@(Model.PaginationSettings.CurrentPage == i ? "active" : string.Empty)><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="@i">@i</a></li>
                            }

                            <li class=@(Model.PaginationSettings.IsLastPage ? "disabled" : string.Empty)><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="@(Model.PaginationSettings.CurrentPage + 1)">&raquo;</a></li>
                            <li><a asp-action="Auction" asp-route-id="@Model.Id" asp-route-page="@Model.PaginationSettings.PagesCount">&raquo;&raquo;</a></li>
                        </ul>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="settings">
                    <form action="#" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input name="automatic_comments" type="checkbox"> Automatycznie wystawiaj komentarze
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Monitoruj aukcję
                                    </label>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input name="non_material_checkbox" type="checkbox"> Przedmiot niematerialny
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div id="non-material-wrapper" class="hidden">
                            <div class="form-group">
                              <label for="non_material_message" class="col-sm-2">Wiadomość dla kupujących</label>
                              <div class="col-sm-10">
                                  <textarea class="form-control" name="non_material_message" id="non_material_message" rows="6" placeholder="Wpisz swoją wiadomość..."></textarea>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="codes_list" class="col-sm-2">Lista kodów</label>
                              <div class="col-sm-10">
                                  <textarea class="form-control" name="codes_list" id="codes_list" rows="6" placeholder="Wprowadź każdy kod w nowej linii..."></textarea>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="codes_to_send" class="col-sm-2">Liczba kodów do wysłania</label>
                              <div class="col-sm-10">
                                  <input type="number" id="codes_to_send" name="codes_to_send">
                              </div>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
