@{
    ViewData["Title"] = Model.Codes;
    ViewData["bodyClass"] = "auctions-list auction";
}
@model CodesViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Zarządzaj kodami dla aukcji: @Model.Title</h3>
            @if (Model.Message != null)
            {
                <p class="text-success">@Html.DisplayFor(t => t.Message)</p>
            }
            <p><a asp-action="AddCodes" asp-route-id="@Model.AuctionId" class="btn btn-primary btn-lg">Dodaj nowe</a></p>
            <hr />
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Kod</th>
                    <th>Data dodania</th>
                    <th>Zamówienie</th>
                    <th>Usuń</th>
                </tr>
                </thead>
                <tbody>
                @foreach (CodeViewModel code in Model.Codes)
                {
                    <tr>
                        <td>@code.Code</td>
                        <td>@Html.DisplayFor(t => code.AddDate)</td>
                        @if (code.OrderId == null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td><a asp-action="Order" asp-route-id="@code.OrderId.Value">@code.OrderId.Value</a></td>
                        }
                        <td>
                            <form asp-controller="Auction" asp-action="DeleteCode" method="post" class="navbar-right">
                                @Html.HiddenFor(t => code.Id)
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-success">Usuń</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="pagination-wrapper">
                <ul class="pagination">
                    <li><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="1">&laquo;&laquo;</a></li>
                    <li class=@(Model.PaginationSettings.IsFirstPage ? "disabled" : string.Empty)><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="@(Model.PaginationSettings.CurrentPage - 1)">&laquo;</a></li>
                    @for (int i = Model.PaginationSettings.StartPage; i <= Model.PaginationSettings.EndPage; ++i)
                    {
                        <li class=@(Model.PaginationSettings.CurrentPage == i ? "active" : string.Empty)><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="@i">@i</a></li>
                    }

                    <li class=@(Model.PaginationSettings.IsLastPage ? "disabled" : string.Empty)><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="@(Model.PaginationSettings.CurrentPage + 1)">&raquo;</a></li>
                    <li><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="@Model.PaginationSettings.PagesCount">&raquo;&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
