@{
    ViewData["Title"] = Model.Title;
}
@model CodesViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Zarządzaj kodami dla aukcji: @Model.Title</h3>
            @if (Model.Message != null)
            {
                <p class="text-success">@Html.DisplayFor(t => t.Message)</p>
            }
            <p><a asp-action="AddCodes" asp-route-id="@Model.AuctionId" class="btn btn-primary btn-lg">Dodaj nowe</a></p>
            <p><a asp-action="Auction" asp-route-id="@Model.AuctionId" class="btn btn-primary btn-lg">Powrót do aukcji</a></p>
            <hr />
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Data dodania</th>
                    <th>Kod</th>
                    <th>Usuń</th>
                </tr>
                </thead>
                <tbody>
                @foreach (CodeViewModel code in Model.Codes)
                {
                    <tr>
                        <td>@code.AddDate.ToString("dd MMMM yyyy")</td>
                        <td>@code.Code</td>
                        <td>
                            <form asp-controller="Auction" asp-action="DeleteCode" method="post" class="navbar-right">
                                <input type="hidden" name="id" value="@code.Id" />
                                <button type="submit" class="btn btn-danger">Usuń</button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="pagination-wrapper">
                <ul class="pagination">
                    <li><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="1">&laquo;&laquo;</a></li>
                    <li class=@(Model.PaginationSettings.IsFirstPage ? "disabled" : string.Empty)><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="@(Model.PaginationSettings.CurrentPage - 1)">&laquo;</a></li>
                    @for (int i = Model.PaginationSettings.StartPage; i <= Model.PaginationSettings.EndPage; ++i)
                    {
                        <li class=@(Model.PaginationSettings.CurrentPage == i ? "active" : string.Empty)><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="@i">@i</a></li>
                    }

                    <li class=@(Model.PaginationSettings.IsLastPage ? "disabled" : string.Empty)><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="@(Model.PaginationSettings.CurrentPage + 1)">&raquo;</a></li>
                    <li><a asp-action="Codes" asp-route-id="@Model.AuctionId" asp-route-page="@Model.PaginationSettings.PagesCount">&raquo;&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
