@{
    ViewData["Title"] = "Lista Aukcji";
    ViewData["bodyClass"] = "auctions-list";
}
@model AutoAllegro.Models.AuctionViewModels.IndexViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
              <h1>Lista aukcji</h1>
              <p>Poniej znajduje się lista aukcji, które są obserwowane.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 list-wrapper">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>ID Aukcji</th>
                        <th>Tytuł</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var auction in Model.Auctions)
                {
                    <tr>
                        <td>@auction.AllegroAuctionId</td>
                        <td><a asp-action="Auction" asp-route-id="@auction.Id">@auction.Title</a></td>
                        <td>@Html.DisplayFor(x => auction.PricePerItem)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pagination-wrapper">
            <ul class="pagination">
                <li><a asp-action="Index" asp-route-page="1">&laquo;&laquo;</a></li>
                <li class=@(Model.PaginationSettings.IsFirstPage ? "disabled" : string.Empty)><a asp-action="Index" asp-route-page="@(Model.PaginationSettings.CurrentPage - 1)">&laquo;</a></li>
                @for (int i = Model.PaginationSettings.StartPage; i <= Model.PaginationSettings.EndPage; ++i)
                {
                    <li class=@(Model.PaginationSettings.CurrentPage == i ? "active" : string.Empty)><a asp-action="Index" asp-route-page="@i">@i</a></li>
                }

                <li class=@(Model.PaginationSettings.IsLastPage ? "disabled" : string.Empty)><a asp-action="Index" asp-route-page="@(Model.PaginationSettings.CurrentPage + 1)">&raquo;</a></li>
                <li><a asp-action="Index" asp-route-page="@Model.PaginationSettings.PagesCount">&raquo;&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
