@{
    ViewData["Title"] = "Zamówienie " + Model.Id;
    ViewData["bodyClass"] = "order";
}

@model OrderViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                @if (Model.Message != null)
                {
                    <p class="text-success">@Html.DisplayFor(t => t.Message)</p>
                }
                <h1>Zamówienie nr: #@Model.Id</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Login:</strong> @Model.Buyer.UserLogin</p>
                        <p><strong>Email:</strong> @Model.Buyer.Email</p>
                        <p><strong>Cena:</strong> @Html.DisplayFor(t => t.TotalPayment)</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Sztuk:</strong> @Model.Quantity</p>
                        <p><strong>Status:</strong> @Html.DisplayFor(t => t.OrderStatus)</p>
                        <p><strong>Data zamówienia:</strong> @Html.DisplayFor(t => t.OrderDate)</p>
                    </div>
                </div>
                <p><a asp-action="Auction" asp-route-id="@Model.AuctionId" class="btn btn-primary btn-lg">Przejdź do aukcji</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Dane kupującego</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Imię i nazwisko</td>
                            <td>@Model.Buyer.FirstName @Model.Buyer.LastName</td>
                        </tr>
                        <tr>
                            <td>Telefon</td>
                            <td>@Model.Buyer.Phone</td>
                        </tr>
                        <tr>
                            <td>Adres</td>
                            <td>@Model.Buyer.Address</td>
                        </tr>
                        <tr>
                            <td>Miasto</td>
                            <td>@Model.Buyer.City</td>
                        </tr>
                        <tr>
                            <td>Kod pocztowy</td>
                            <td>@Model.Buyer.PostCode</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @if (Model.ShippingAddress != null)
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dane do wysyłki</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Imię i nazwisko</td>
                                <td>@Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName</td>
                            </tr>
                            <tr>
                                <td>Adres</td>
                                <td>@Model.ShippingAddress.Address</td>
                            </tr>
                            <tr>
                                <td>Miasto</td>
                                <td>@Model.ShippingAddress.City</td>
                            </tr>
                            <tr>
                                <td>Kod pocztowy</td>
                                <td>@Model.ShippingAddress.PostCode</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Szybkie akcje</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        @if (Model.VirtualItem)
                        {
                            @if (Model.GameCodes.Count > 0)
                            {
                                 //tutaj jakiś modal z listą kodów - @Model.GameCodes
                                 <a class="list-group-item">Zobacz kody</a>
                            }
                            @if (Model.OrderStatus == OrderStatus.Done)
                            {
                                // tutaj też modale z potwierdzeniami czy na pewno chcesz to zrobić
                                <form asp-action="GetExtraCode">
                                    @Html.HiddenFor(t => t.Id)
                                    <button type="submit" class="list-group-item">Wygeneruj dodatkowy kod</button>
                                </form>
                            }
                        }
                        else
                        {
                            // NALEPA!!!
                            <a href="#" class="list-group-item">Wygeneruj przesyłkę</a>
                            <a href="#" class="list-group-item">Sprawdź status paczki</a>
                        }
                        @if (Model.OrderStatus != OrderStatus.Canceled)
                        {
                            // tutaj też modale z potwierdzeniami czy na pewno chcesz to zrobić
                            <form asp-action="CancelOrder">
                                @Html.HiddenFor(t => t.Id)
                                <button type="submit" class="list-group-item">Anuluj zamówienie</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Wiadomość do kupującego</h3>
                </div>
                <div class="panel-body">
                    <p>@(Model.ShippingAddress?.MessageToSeller ?? "Brak wiadomości")</p>
                </div>
            </div>
        </div>
    </div>

</div>
