@{
    ViewData["Title"] = "Zamówienie " + Model.Id;
    ViewData["bodyClass"] = "order";
}

@model OrderViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                @Html.Partial("~/Views/Shared/_Message.cshtml", Model.Message)
                <h1>Zamówienie nr: #@Model.Id</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Login:</strong> @Model.Buyer.UserLogin</p>
                        <p><strong>Email:</strong> @Model.Buyer.Email</p>
                        <p><strong>Cena:</strong> @Html.DisplayFor(t => t.TotalPayment)</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Sztuk:</strong> @Model.Quantity</p>
                        <p><strong>Status:</strong> @Html.DisplayFor(t => t.OrderStatus)</p>
                        <p><strong>Data zamówienia:</strong> @Html.DisplayFor(t => t.OrderDate)</p>
                    </div>
                </div>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        <a asp-action="Auction" asp-route-id="@Model.AuctionId" class="btn btn-primary btn-lg">Przejdź do aukcji</a>
                    </div>
                    <div class="btn-group" role="group">
                        <a asp-action="Order" asp-route-id="@Model.Id" class="btn btn-primary btn-lg">Odśwież</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Dane kupującego</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Imię i nazwisko</td>
                            <td>@Model.Buyer.FirstName @Model.Buyer.LastName</td>
                        </tr>
                        <tr>
                            <td>Telefon</td>
                            <td>@Model.Buyer.Phone</td>
                        </tr>
                        <tr>
                            <td>Adres</td>
                            <td>@Model.Buyer.Address</td>
                        </tr>
                        <tr>
                            <td>Miasto</td>
                            <td>@Model.Buyer.City</td>
                        </tr>
                        <tr>
                            <td>Kod pocztowy</td>
                            <td>@Model.Buyer.PostCode</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @if (Model.ShippingAddress != null)
            {
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dane do wysyłki</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Imię i nazwisko</td>
                                <td>@Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName</td>
                            </tr>
                            <tr>
                                <td>Adres</td>
                                <td>@Model.ShippingAddress.Address</td>
                            </tr>
                            <tr>
                                <td>Miasto</td>
                                <td>@Model.ShippingAddress.City</td>
                            </tr>
                            <tr>
                                <td>Kod pocztowy</td>
                                <td>@Model.ShippingAddress.PostCode</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Szybkie akcje</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        @if (Model.OrderStatus == OrderStatus.Created || Model.OrderStatus == OrderStatus.Canceled)
                        {
                            <form asp-action="MarkAsPaid">
                                @Html.HiddenFor(t => t.Id)
                                <button type="submit" class="list-group-item" data-confirm="default">Oznacz jako opłacona</button>
                            </form>
                        }

                        @if (Model.VirtualItem)
                        {
                            @if (Model.GameCodes.Count > 0)
                            {
                                <a href="#" class="list-group-item" data-toggle="modal" data-target="#codesModal">Zobacz kody</a>
                                <div class="modal fade" id="codesModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" ><span>&times;</span></button>
                                                <h4 class="modal-title">Kupione kody</h4>
                                            </div>
                                            <div class="modal-body">
                                                <ul class="list-group">
                                                    @foreach (var code in Model.GameCodes) {
                                                        <li class="list-group-item">
                                                            <div class="row">
                                                                <div class="col-sm-10">
                                                                    <span id="code-@code.Id">@code.Code</span>
                                                                </div>
                                                                <div class="col-sm-2 text-right">
                                                                    <button class="btn btn-sm btn-warning clipboard-copy" data-clipboard-target="#code-@code.Id">
                                                                        <i class="fa fa-clipboard"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Zamknij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.OrderStatus == OrderStatus.Done)
                            {
                                <form asp-action="GetExtraCode">
                                    @Html.HiddenFor(t => t.Id)
                                    <button type="submit" class="list-group-item" data-confirm="default">Wygeneruj dodatkowy kod</button>
                                </form>
                            }
                        }
                        else
                        {
                            // NALEPA!!!
                            <a href="#" class="list-group-item">Wygeneruj przesyłkę</a>
                            <a href="#" class="list-group-item">Sprawdź status paczki</a>
                        }
                        @if (Model.OrderStatus != OrderStatus.Canceled)
                        {
                            <button id="cancelOrder" type="submit" class="list-group-item">Anuluj zamówienie</button>

                            <div class="modal fade" id="cancelOrderModal" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" ><span>&times;</span></button>
                                            <h4 class="modal-title">Wybierz powód anulowania zamówienia</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-action="CancelOrder" method="POST">
                                                <input type="hidden" name="id" value="@Model.Id">
                                                <div class="form-group">
                                                    <label for="refundReasonsSelect">Wybierz powód zwrotu</label>
                                                    <select name="reasonId" id="refundReasonsSelect" class="form-control">
                                                    </select>
                                                </div>
                                                <div class="form-group text-right">
                                                    <button class="btn btn-success" type="submit" data-confirm="default">Anuluj</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if(Model.GameCodes.Count > 0)
                        {
                            <form asp-action="FreeCodes">
                                @Html.HiddenFor(t => t.Id)
                                <button type="submit" class="list-group-item" data-confirm="default">Zwolnij kody</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.ShippingAddress?.MessageToSeller)) 
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Wiadomość od kupującego</h3>
                    </div>
                    <div class="panel-body">
                        <p>@(Model.ShippingAddress?.MessageToSeller ?? "Brak wiadomości")</p>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

@section JavaScripts
{
    <script>
        $(document).ready(function() {
            $('#cancelOrder').click(function() {
                var baseUrl = '@Url.Action("", null, null, "http")';
                var allegroDealId = @Model.AllegroDealId;
                var refundReasonsUrl = baseUrl + 'Auction/RefundReasons/' + allegroDealId;

                $.get(refundReasonsUrl, function(data) {
                    var reasons = jQuery.parseJSON(data);
                    for (var i in reasons) {
                        var reason = reasons[i];
                        $('#refundReasonsSelect').append('<option value="' + reason.Id + '">' + reason.Reason + '</option>');
                    }
                    $('#cancelOrderModal').modal('show');
                });
                
            }); 
        });
    </script>
}


