@{
    ViewData["Title"] = "Statystyki";
    ViewData["bodyClass"] = "";
}

@model AutoAllegro.Models.StatsViewModels.IndexViewModel


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Statystyki sprzedaży</h2>
            <canvas id="yearlyChart" width="800" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Statystyki dla aukcji</h2>
            <div class="list-group">
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>

@section JavaScripts
{
    <script>
        var yearlyStats = $("#yearlyChart");
        var yearlyChart = new Chart(yearlyStats, {
            type: 'bar',
            data: {
                labels: [ @Html.Raw(@AutoAllegro.Helpers.Functions.StatsFunctions.FormatList(@Model.YearlyStats.Keys.ToList())) ],
                datasets: [{
                    label: 'Zarobek netto',
                    data: [ @Html.Raw(@AutoAllegro.Helpers.Functions.StatsFunctions.FormatList(@Model.YearlyStats.Values.ToList())) ],
                    backgroundColor: 'rgba(255, 206, 86, 0.2)',
                    borderColor: 'rgba(255, 206, 86, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                onClick: function(event, details) {
                    var baseUrl = '@Url.Action("", null, null, "http")';
                    baseUrl += '/Daily/';

                    var date = details[0]._model.label;
                    
                    var url = baseUrl + date;

                    window.location.href = url;
                }
            }
           
    });
    </script> 
}


