@{
    ViewData["Title"] = "Statystyki";
    ViewData["bodyClass"] = "";
}

@model AutoAllegro.Models.StatsViewModels.IndexViewModel


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Statystyki sprzedaży</h2>
            <canvas id="yearlyChart" width="800" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Statystyki dla aukcji</h2>
            <div class="list-group">
                @foreach (var auction in Model.Auctions)
                {
                    <a asp-action="Auction" asp-route-id="@auction.Id" class="list-group-item">@auction.Title</a>
                }
            </div>
        </div>
    </div>
</div>

@section JavaScripts
{
    <script>
        var yearlyStats = $("#yearlyChart");
        var yearlyChart = new Chart(yearlyStats, {
            type: 'bar',
            data: {
                labels: [ @Html.Raw(Model.YearlyStats.FormatDates()) ],
                datasets: [{
                    label: 'Zarobek netto [zł]',
                    data: [ @Html.Raw(Model.YearlyStats.FormatDecimals()) ],
                    backgroundColor: 'rgba(255, 206, 86, 0.2)',
                    borderColor: 'rgba(255, 206, 86, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                onClick: function(event, details) {
                    var baseUrl = '@Url.Action("", null, null, "http")';
                    baseUrl += '/Daily?date=';

                    var date = details[0]._model.label;

                    var url = baseUrl + date;

                    window.location.href = url;
                }
            }

    });
    </script> 
}


