<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - AutoAllegro</title>
<environment names="Development">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</environment>
<environment names="Staging,Production">
    <link src="~/js/main.min.js" rel="stylesheet">
</environment>
</head>

<body class="@ViewData["bodyClass"]">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Allegro Template</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Auction")">Lista aukcji <span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Add", "Auction")">Dodaj aukcję</a></li>
                    <li><a href="stats.html">Statystyki</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Panel uzytkownika <span class="caret"></span> <span class="badge">3</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="settings.html">Ustawienia</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main id="main">
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 copyright">
                    &copy; 2016 Allegro Template.
                </div>
            </div>
        </div>
    </footer>
<environment names="Development">
    <script src="~/js/main.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/main.min.js"></script>
</environment>
</body>

</html>